Flask
flask-cors
scikit-learn
keybert
spacy
joblib
vaderSentiment
transformers==4.41.2
torch
flask
flask-cors
scikit-learn
joblib
vaderSentiment
spacy
transformers
torch
keybert
numpy
pandas
sentencepiece
protobuf
nltk
wikipedia
